/* Container styles */
div {
    margin-bottom: 20px;
  }
  
  /* Button styles */
  .buttons{
    display: flex ;
    gap: .5rem;
    margin-top: .5rem ;

  }
  .card{
    border: 1px solid #ddd;
    padding: 1rem;
    max-width: fit-content;
    border-radius: .5rem;
  }
  button {

    margin-bottom: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: lightcoral;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: lightcoral;
  }
  
  /* Input box styles */
  input[type="text"] {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Horizontal rule styles */
  hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ccc;
  }
  
  /* List item styles */
  li {
    margin-bottom: 10px;
  }
  
  /* Product name styles */
  .name {
    font-weight: bold;
  }
  
  /* Category ID styles */
  .category {
    color: #666;
  }
  
  /* Edit mode input styles */
  .editMode input[type="text"] {
    border: 1px solid lightcoral;
  }
  