div {
    padding: 20px;
  }

  div h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  button[type="button"] {
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
   input[type="text"] {
    width: 200px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  button[type="submit"] {

    padding: 5px 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  .name {
    font-weight: bold;
  }
  
  a {
    color: blue;
    text-decoration: none;
    margin-right: 10px;
  }

  a.active {
    font-weight: bold;
  }
  
  button[type="button"] {
    padding: 5px 10px;
    background-color: lightcoral;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  
